<form action="" class="form">

  <h3 class="form__heading">Sign Up</h3>
  <div class="form__group">
    <input  class="form__group-item" placeholder="First Name" type="text" pInputText>
    <input  class="form__group-item" placeholder="Last Name" type="text" pInputText>
  </div>
  <input  class="form__control" placeholder="Username" type="text" pInputText>
  <input  class="form__control" placeholder="Email" type="text" pInputText>
  <input  class="form__control" placeholder="Password" type="password" pInputText>
  <input  class="form__control" placeholder="Date of Birth" type="date" pInputText>
  <button (click)="submitHandler($event)" pButton>Submit</button>
</form>
