$control-width: 50%;

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 50px 25px;
  background: var(--surface-ground);
  width: $control-width;
  margin: 50px auto;
}

.form__heading{
  font-size: 2.5rem;
  margin: 0;
  color: var(--text-color);
}

.form__control{
  width: $control-width;
}
